.bg_half_transparent {
    background: rgba($loader-bg-color, $loader-bg-transparency);
}

.wask_loader {
    padding: 150px 0;
    position: fixed;
    z-index: 501;
    border: 0;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

.wask_loader>div.v-spinner>div {
    margin: 0 auto;
}
